{% extends 'base.html' %}
{% block title %}Pasta Carbonara{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Pasta Carbonara Clásica</h1>
        <p><strong>Ingredientes:</strong></p>
        <p>
            200g de pasta (spaghetti o rigatoni)<br>
            150g de guanciale (papada de cerdo curada)<br>
            2 yemas de huevo grandes<br>
            50g de queso Pecorino Romano rallado<br>
            Pimienta negra recién molida<br>
            Sal
        </p>
        <p><strong>Instrucciones:</strong></p>
        <p>
            1. Corta el guanciale en tiras y fríelo en una sartén hasta que esté crujiente. Retira el guanciale, dejando la grasa en la sartén.<br>
            2. Mientras tanto, cocina la pasta en agua con sal hasta que esté al dente.<br>
            3. En un bol, bate las yemas de huevo con el queso Pecorino y la pimienta negra.<br>
            4. Escurre la pasta y transfiérela inmediatamente a la sartén con la grasa del guanciale.<br>
            5. Fuera del fuego, agrega la mezcla de huevo y queso a la pasta. La clave es el calor residual de la pasta para cocinar el huevo sin que se convierta en revuelto.<br>
            6. Añade el guanciale crujiente y mezcla bien. Sirve inmediatamente.
        </p>
        <a href="{% url 'lista_recetas' %}" class="btn btn-secondary mt-3">Volver a la lista</a>
    </div>
    <div class="col-md-4 text-center">
        {% load static %}
        <img src="{% static 'images/carbonara.jpg' %}" class="img-fluid rounded" alt="Pasta Carbonara">
    </div>
</div>
{% endblock %}