{% extends 'base.html' %}
{% block title %}Ensalada César{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Ensalada César</h1>
        <p><strong>Ingredientes:</strong></p>
        <p>
            1 lechuga romana<br>
            100g de croutones<br>
            50g de queso Parmesano en láminas<br>
            2 filetes de anchoa (opcional)<br>
            1 huevo<br>
            2 cucharadas de aceite de oliva<br>
            1 diente de ajo<br>
            Jugo de 1 limón<br>
            Salsa Worcestershire<br>
            Mostaza de Dijon<br>
            Sal y pimienta
        </p>
        <p><strong>Instrucciones:</strong></p>
        <p>
            1. Lava y corta la lechuga en trozos.<br>
            2. Prepara el aderezo: mezcla el huevo, aceite de oliva, ajo picado, jugo de limón, salsa Worcestershire, mostaza, sal y pimienta.<br>
            3. En un bol, mezcla la lechuga con el aderezo y los croutones.<br>
            4. Decora con láminas de queso Parmesano y anchoas. Sirve fresco.
        </p>
        <a href="{% url 'lista_recetas' %}" class="btn btn-secondary mt-3">Volver a la lista</a>
    </div>
    <div class="col-md-4 text-center">
        {% load static %}
        <img src="{% static 'images/ensalada.jpg' %}" class="img-fluid rounded" alt="Ensalada César">
    </div>
</div>
{% endblock %}